footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  footer a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px; /* Add some spacing between the name and the link */
  }
  
  footer a:hover {
    color: #007bff;
  }